h1{
	text-align: center;
	text-decoration: underline;
	text-shadow: 3px 2px blue;
}
body > table{
    width: 100%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #6495ED;
    text-align:left;
    padding: 10px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: SlateBlue;
}

input[type=text], input[type=number] {
    width: 50%;
    padding: 5px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #DodgerBlue;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.radio{
  height:20px;
  width:20px;
  border:2px solid blue;
  border-radius:50%;
  display:inline-block;
}
input:checked + .radio div{
  width:10px;
  height:10px;
  margin:5px;
  background:black;
  border-radius:50%;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height:20px;
  width: 20px;
  background-color: blue;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

input[type=submit]{
    width: 30%;
    background-color: SlateBlue;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	display: inline-block;
}

